// Mixins Here
.heading-size() {
    font-size: 3rem;
}
//Parametric mixin for button styling 
.button-layout(@background-color; @color) {
    background-color: @background-color;
    color: @color; 
}